* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

p {
  /* font preferred left to generic font right which browser picks */
  font-family: "helvetica neue", helvetica, sans-serif;

  /* increase (or decrease) space between letters */
  letter-spacing: 1px;

  /* self-explanatory */
  text-transform: uppercase;

  /* self-explanatory */
  text-align: center;

  /* remember box model: Content, Padding, Border, Margin */
  border: 2px solid rgb(0 0 200 / 0.6);

  /* background of content */
  background: rgb(0 0 200 / 0.6);

  /* content text color */
  color: rgb(255 255 255 / 1);

  /* add shadow effect around  */
  /* horizontal offset, vertical offset, blur radius (0 = sharp), color */
  box-shadow: 1px 1px 2px rgb(0 0 200 / 0.4);

  /* rounds the border corners of an element */
  border-radius: 10px;

  /* space around content 3px top & bottom and 10p right and left */
  padding: 3px 10px;

  /* inline - height and width have no effect
     inline-block - same line and height and width do matter 
     block - different lines and height and width do matter */
  display: inline-block;

  /* type of cursor displayed when over element (another is crosshair) */
  cursor: pointer;
}